.btn-clique-aqui {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0F8C0F; /* Cor do botão */
    color: white; /* Cor do texto */
    font-size: 16px;
    font-weight: bold;
    margin-left: 4%;
    text-align: center;
    text-decoration: none;
    border-radius: 30px; /* Bordas arredondadas */
    transition: background-color 0.3s ease;
}

.btn-clique-aqui:hover {
    background-color: #ffffff; /* Cor ao passar o mouse */
    color: #0F8C0F;
}

.img1, .img2, .img3 {
    margin-left: 3%;
}

/* Começo da responsividade da página de area */

@media screen and (max-width: 320px) {
    .carousel-item img {
      width: 100% !important;
      height: 40% !important;
  }
  
  .navbar-brand {
      margin-top: -15%;
      margin-left: -7%;
  }
  
  .navbar-toggler {
      margin-top: -6% !important;
  }
  
  .nav-link {
      color: #000000 !important; /* Cor do link */
      font-size: 14px !important; /* Tamanho da fonte */
      margin-top: 6%; /* Margem superior */
      text-decoration: none; /* Remove o sublinhado do link */
  }
  
  /* Estilo para os itens da navegação */
  .nav-item {
      display: flex;
      justify-content: center; /* Centraliza os itens horizontalmente */
  }
  
  /* Estilo para a barra de pesquisa */
  .input-group {
      margin-top: 16%; /* Ajuste da margem superior */
      margin-left: -120% !important; /* Centraliza horizontalmente */
      width: 190% !important; /* Ajusta a largura da barra de pesquisa */
  }
  
  /* Estilo para os links dentro de .nav-item */
  .nav-item a {
      font-size: 20px; /* Tamanho da fonte */
      color: black !important; /* Cor do texto do link */
      text-decoration: none; /* Remove o sublinhado */
  }
  
  /* Estilo para o número do WhatsApp */
  .whatsapp-link {
      color: #000000 !important;
      margin-left: 37%;
      font-size: 14px;
      margin-top: -11% !important;
      padding: 1px !important;
  }
  
  .fab.fa-whatsapp {
      margin-left: -310% !important;
      font-size: 20px; /* Tamanho do ícone */
      color: #25D366;  /* Cor padrão do ícone do WhatsApp */
      transition: color 0.3s ease, transform 0.3s ease; /* Transições suaves */
  }
  
  .navbar-collapse {
      background-color: rgb(245, 243, 233);
      border-radius: 30px;
  }
  
  footer .col-md-3 {
      width: 100%; /* Garante 100% da largura em dispositivos menores */
      margin-bottom: 20px;
  }
   .list-unstyled {
      margin-left: -23%;
  }
  
  .links-uteis-title {
      margin-left: 2% !important;
  }
  
  footer h5 {
      font-size: 16px; /* Ajuste de tamanho de título */
      margin-bottom: 15px; /* Ajuste de espaçamento */
  }
  
  footer .col-md-3 p,
  footer .col-md-3 a {
      font-size: 14px; /* Tamanho de fonte para texto e links em telas menores */
  }
  
  footer .fab {
      font-size: 20px; /* Reduz o tamanho do ícone do WhatsApp */
  }
  
  footer .col-md-3 img {
      width: 45px; /* Ajuste o tamanho das imagens */
  }
  footer .text-center p {
      font-size: 14px;
  }
  .carousel-item {
    height: 530px;
  }
  .alert { 
    font-size: 20px !important;
    white-space: nowrap;
    margin-left: -5% !important;
    position: fixed !important;
    margin-top: -100% !important; 
    left: 0;
    position: relative !important; 
    z-index: 1 !important;
  }
  .titulo1, .titulo2, .titulo3 {
    font-size: 13px !important;
  }
  .btn-clique-aqui {
    font-size: 12px !important;
    white-space: nowrap;
  }
  .img1, .img2, .img3 {
    margin-left: -10% !important; 
  }
}

/* Fim da responsividade da página de area */



